
* {
	box-sizing: border-box;
}
.worm {
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 400px 400px 400px; */
    grid-auto-rows:450px auto;
    grid-gap: 40px;
    align-items: center;
    grid-template-rows: fit-content(40%);
    justify-content: flex-start;
    /* display: flex; */
      /* /* flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start; */
  }
  .wormy {
    display: flex-inline;
    background-color: black; 
    padding: 20px;
    justify-content: flex-start;
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      align-items: flex-start;
      align-content: flex-start; */
  } 